/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/ 
/*header {
  width: 100vh;
}*/




/*---------------------------------------------------------- 
# Section Hero  
----------------------------------------------------------*/ 
/*.card { 
    background-color: var(--mauve);
  }
.card-title {     
  background-color: var(--mauve);
}
.card-title {
    border-bottom: 6px solid var(--rose);  
  }
  button{
  background-color:none;
  color: var(--rose);
  border-style: solid;
  border-color: var(--rose)
}*/
section {
  height: 100vh;
 
}

footer {
 padding: 1rem;
 margin-top: 1rem;
}