/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #000000;
    --darkblue: #050014;
    --darkmauve: #150050;
    --mauve: #3F0071;
    --pink: #FB2576;
    --white: #ffffff;
    --textstyle: font-family: 'Poppins', sans-serif;
    --hamburger: url(/FutuRetro/assets/images/hamburger.png);
}

.index {
    margin-top: 100px;
}

body {
    background-color: var(--darkblue);
}

main {
    /* height: 200vh; */
    margin: 15px;
}

.cry {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: var(--white);
}

h2 {
    color: var(--white);
    font-size: 25px;
}

h3 {
    color: var(--white);
}

h4 {
    color: var(--white);
    font-size: 22px;
}

.navbar {
    background-color: var(--darkblue);
}

.navbar-brand {
    margin-right: 0;
}

.offcanvas-header {
    background-color: var(--pink);
}

.offcanvas-body {
    background-color: var(--pink);
}

.navbar-toggler {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--darkmauve);
    border: none;
}

.like {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--darkmauve);
    border: none;
    color: white;
    text-align: center;
    padding-top: 7px;
}

.liked {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--pink);
    border: none;
    color: white;
    text-align: center;
    padding-top: 7px;
}

.navbar-toggler-icon {
    background-image: var(--hamburger);
}

h1,
p {
    color: white;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--darkblue);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--pink);
    border-radius: 10px;
    border: 1px solid var(--darkmauve);
    opacity: 0.1;
}

footer {
    background-color: var(--mauve);
    padding: 1rem;
    text-align: center;
    height: 200px;
    display: flex;
}

.pied {
    justify-content: center;
    align-self: center;
    width: 100%;
}

.logo-tim {
    width: 200px;
}

.col-sm-6 {
    align-self: center;
}

.bi-search {
    width: 100px;
}

.has-search .form-control {
    padding-left: 3rem;
}

.fa-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
}

.form-control {
    border-radius: 70px;
    background-color: var(--darkmauve);
    border: none;
    margin-right: 0;
    height: 50px;
    font-size: 18px;
    text-overflow: ellipsis;
}

.me-2 {
    margin-right: 0 !important;
}

input::placeholder {
    color: var(--pink) !important;
    opacity: 1;
}

.recherche {
    width: 100%;
    margin: 0;
    width: 100%;
    max-width: 800px;
    padding: 0;
    display: block;
    overflow-x: hidden;
}

.icon {
    width: 22px;
    height: 22px;
    fill: var(--pink);
    transform: translate(20%, 20%);
}

ul {
    list-style-type: none;
    padding: 0 !important;
}

.filter {
    margin-top: 20px;
}

.btn-filter {
    border-radius: 40px !important;
    background-color: var(--mauve) !important;
    border: none !important;
    margin-right: 12px !important;
    margin-left: 12px !important;
    height: 40px !important;
    font-size: 18px !important;
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
}

.btn-filter:hover {
    background-color: var(--pink) !important;
    color: var(--white);
}

.cool {
    /* overflow: hidden; */
    padding: 0;
}

.carte-haut-image {
    object-fit: cover;
    height: 20vh;
    border-radius: 10px;
}

.carte-haut {
    background-color: var(--mauve);
    border-radius: 10px;
    max-width: 200px;
    width: 200px !important;
    white-space: nowrap !important;
    text-align: start;
}

.carte-haut-titre {
    margin-top: 8px;
}

.carte-haut-corps {
    padding: 10px;
}

.carte-haut-texte {
    padding: 0;
    margin-bottom: 10px;
}

.artist-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    color: var(--white);
    background-color: var(--pink);
    border-radius: 40px !important;
    border: none !important;
    height: 40px !important;
    font-size: 18px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
}

.btn:hover {
    background-color: #FB2576;
}

a {
    text-decoration: none;
    color: var(--white);
}

.bi-calendar3 {
    width: 50px;
}

.artist-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.vedette {
    overflow: hidden;
}

.cartes {
    min-width: 75vh;
    margin-bottom: 20px;
}

.autres {
    margin: 0 !important;
    padding: 0 !important;
}

.col-12 {
    margin: 0 !important;
    padding: 0;
}

.carte-bas {
    min-width: 30vh;
    width: 100%;
    background-color: var(--mauve);
    background-color: var(--mauve);
    border-radius: 10px;
    white-space: nowrap !important;
    margin-right: 20vh;
    margin-bottom: 20px;
}

.carte-bas-image {
    object-fit: cover;
    height: 20vh;
    border-radius: 10px;
}

.carte-bas-titre {
    margin-top: 8px;
}

.carte-bas-corps {
    padding: 10px;
}

.carte-bas-texte {
    padding: 0;
    margin-bottom: 10px;
}

.nav-artwork {
    background-color: #05001400;
    margin-top: 10px;
}

.bi-chevron-left {
    color: white;
    font-size: 20px;
}

.artwork-artist {
    height: 33vh;
    width: 100%;
    object-fit: cover;
}

.artwork-section {
    background-color: var(--mauve);
    z-index: 1;
    position: relative;
    transform: translate(0%, -5%);
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    min-width: 34vh;
    padding: 20px;
}

.artwork-main {
    height: auto;
    margin: 0;
    overflow-x: hidden;
    margin-bottom: -71px;
}

.artwork-card-artist {
    border: none;
    border-radius: 15px;
    background-color: var(--pink);
    padding-bottom: 20px;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.artist-in-question {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}

.artwork-btn {
    background-color: var(--mauve);
    color: var(--white);
    border-radius: 30px;
}

.artwork-btn:hover {
    background-color: #150050;
    color: var(--white);
}

.accordion-item {
    color: var(--white);
    background-color: #FB2576;
    border: none;
    margin-bottom: 5px;
}

.accordion-button {
    background-color: #FB2576;
    border-radius: 30px;
}

.accordion-button:not(.collapsed) {
    color: var(--white);
}

.accordion-item:first-of-type .accordion-button {
    background-color: #FB2576;
}

.accordion-collapse {
    background-color: #150050;
}

.form-control {
    background-color: white;
}


/* Swiper */

.swiper-filter {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.swiper-wrapper {
    width: auto;
}

.swiper-slide {
    width: fit-content !important;
    display: inline;
}

.swiper-slide:nth-child(1n) {
    width: 57%;
}

.swiper-slide:nth-child(2n) {
    width: 57%;
}

.swiper-slide:nth-child(3n) {
    width: 57%;
}

.swiper-featured-artworks {
    margin-bottom: 10px;
}


/*
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center; 
}*/


/*
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */